header {
  padding-top: 250px;
  height:90px;
  grid-area: header;
  width: 100%;
  background-image: url('bilder/GAINZ.png');
  background-repeat: no-repeat;
  background-position: center;
}
#motionscykeln1{
  width: 200px;
}

#Hantlar1{
  width: 200px;
}

#Crosstrainer1{
  width: 200px;
}
#karta{

  width: 95%;
  height: 300px;
  border: 5px;

}
#knapp1{
  width: auto;
  height: auto;
}

.navbar {
  overflow: hidden;
  font-family: Arial;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav{
  grid-area: nav;
  background-color: black;
  height: 50px;
  font-size: 30px;
  text-align: center;
}

main {
  grid-area: main;
  background-color: #696969;
  justify-content: space-around;
  align-items: center;
}

.Crosstrainer, .Cykel, .Hantlar {
  overflow:hidden;
  padding-left: 70%;
  background-repeat: no-repeat;
  background-image:url("bilder/nedladdning.png");
}

.Crosstrainer {
  width: 31%;
  height: 70%;
  background-position: 0.121286% 0.471698%;
  background-size: 513.283%;
}

.Cykel {
  width: 7%;
  height: 61%;
  background-position: 58.8731% 0.328947%;
  background-size: 406.349%;
}

.Hantlar {
  width: 10%;
  height: 71%;
  background-position: 26.1010% 0.341297%;
  background-size: 406.349%;
}

.bildruta1{
  overflow: hidden;
  padding-left: 11%;
  height:325px;
  width:329px;
}
.bildruta2{
  overflow: hidden;
  padding-left: 11%;
  height:325px;
  width:150px;
}
.bildruta3{
  overflow: hidden;
  padding-left: 11%;
  height:330px;
  width:329px;
}

main div {
  height:200px;
  width: 200px;
  background-color: white;
  margin: 7%;
  border-right: 100px;
  background-repeat: no-repeat;
  font-size: 20px;
  height: auto;
  text-align: center
}

#sidebar {
  grid-area: sidebar;
  background-color: orange;
  align-items: stretch;
}

aside {
  grid-area: aside;
  background-color: orange;
  font-size: 30px;
  align-items: stretch;
  font-family: Righteous;
}

footer {
  grid-area: footer;
  background-color: grey;
  height: 200px;
}

#Produkter1{
  background-color: white;
  font-family: Arial;
  width: auto;
  align-items: stretch;
  height: 500px;
  height: auto;

}

#Produkter2{
  background-color: white;
  font-family: Arial;
  width: auto;
  align-items: stretch;
  height: 500px;
  height: auto;
}

  #Produkter3{
    background-color: white;
    font-family: Arial;
    width: auto;
    align-items: stretch;
    height: 500px;
    height: auto;
}

  #Kundvagn{
    background-color: white;
    font-family: Arial;
    height: auto;
    align-items: stretch;
    height: 500px;
    width: auto;
}

  #Omoss{

    background-color: white;
    font-family: Arial;
    height: auto;
    align-items: stretch;
    height: 500px;
    width: auto;
}

#contact{

  background-color: white;
  font-family: Arial;
  align-items: stretch;
  height: 500px;
  width: auto;
}

  .button {
    box-shadow:inset 0px 1px 2px 0px #fff6af;
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color:#ffec64;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
  }

  .button:hover {
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color:#ffab23;
  }

  .button:active {
    position:relative;
    top:1px;
  }

  #wrapper {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "aside main main sidebar"
    "footer footer footer footer";
  }

  @media only screen and (max-width: 1000px) {
    .Hantlar {

        height: 70%;

}

.Crosstrainer {

    height: 70%;

}

.Cykel {

    height: 70%;

}

    #wrapper {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows:  auto;
      grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "sidebar"
      "footer";
    }
  }
